# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
[Tt]empPE/

# VS user files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/
*.sln.iml

# Build logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# DotCover
*.dotCover

# Visual Studio cache/options directory
.vs/

# Backup & report files
*.orig
*.bak
*.tmp
*.patch
*.diff

# Others
[Tt]humbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.swp
*.swo
*.DS_Store

# Rider indexes
.idea/.idea_modules
