<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AllowProductionRun" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="CompanyDb" connectionString="Data Source=localhost;Initial Catalog=WebUI;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="LogDb" connectionString="Data Source=localhost;Initial Catalog=Logging;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
